# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log
ui-debug.log

# Environment variables
.env
.env.*

# Dependencies
node_modules/

# Build outputs
web-client/dist/
server/lib/

# Sever and SSL config
certbot/
.vercel
.env*.local
